# Namedtuples

In [1]:
t = (1,2,3)

In [2]:
t[0]

1

In [3]:
from collections import namedtuple

In [5]:
Dog = namedtuple('Dog', "age breed name")

In [7]:
sam = Dog(age=2, breed="Lab", name="Sammy")

In [10]:
sam

Dog(age=2, breed='Lab', name='Sammy')

In [11]:
sam.age

2

In [12]:
sam[0]

2

In [13]:
Cat = namedtuple("Cat", "fur claws name")

In [14]:
c = Cat(fur="Fuzzy", claws=False, name="Kitty")

In [15]:
c

Cat(fur='Fuzzy', claws=False, name='Kitty')

In [16]:
c.name

'Kitty'

In [17]:
c[2]

'Kitty'