In [1]:
def square(num):
    return num**2

In [5]:
my_nums = [1,2,3,4,5]

In [6]:
for item in map(square, my_numes):
    print(item)

1
4
9
16
25

In [7]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [8]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return "EVEN"
    return mystring[0]

In [9]:
names = ["Andy","Eve", "Sally"]

In [10]:
list(map(splicer, names))

[&#39;EVEN&#39;, &#39;E&#39;, &#39;S&#39;]

In [14]:
def check_even(num):
    return num % 2 == 0

In [15]:
my_nums = [1,2,3,4,5,6]
filter(check_even, my_nums)

&lt;filter at 0x1a41ef9e288&gt;

In [17]:
for n in filter(check_even, my_nums):
    print(n)

2
4
6

In [16]:
list(filter(check_even, my_nums))

[2, 4, 6]

In [23]:
saquare = lambda num: num ** 2

In [24]:
square(3)

9

In [27]:
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25, 36]

In [29]:
list(filter(lambda num: num % 2 == 0, my_nums))

[2, 4, 6]

In [30]:
names

[&#39;Andy&#39;, &#39;Eve&#39;, &#39;Sally&#39;]

In [31]:
list(map(lambda name: name[0], names))

[&#39;A&#39;, &#39;E&#39;, &#39;S&#39;]

In [32]:
list(map(lambda name: name[::-1], names))

[&#39;ydnA&#39;, &#39;evE&#39;, &#39;yllaS&#39;]