In [1]:
my_list = [1,2,3,4]

In [2]:
 my_list = ["string", 100, 23.2]

In [3]:
len(my_list)

3

In [6]:
my_list = ["one", "two", "tree"]

In [8]:
my_list[0]

'one'

In [10]:
my_list[1:]

['two', 'tree']

In [11]:
another_list = ["four", "five"]

In [14]:
new_list = my_list + another_list

In [16]:
new_list

['one', 'two', 'tree', 'four', 'five']

In [19]:
new_list[0] = new_list[0].upper()

In [21]:
new_list

['ONE', 'two', 'tree', 'four', 'five']

In [22]:
new_list.append("six")

In [23]:
new_list

['ONE', 'two', 'tree', 'four', 'five', 'six']

In [24]:
new_list.append("seven")

In [25]:
new_list

['ONE', 'two', 'tree', 'four', 'five', 'six', 'seven']

In [27]:
new_list.pop()

'six'

In [28]:
new_list

['ONE', 'two', 'tree', 'four', 'five']

In [31]:
popped_item = new_list.pop()

In [33]:
 popped_item

'four'

In [34]:
new_list.pop(0)

'ONE'

In [36]:
new_list

['two', 'tree']

In [40]:
new_list = ["a", "e", "x", "b", "c"]
num_list = [4,1,8,3]

In [41]:
new_list.sort()

In [42]:
new_list

['a', 'b', 'c', 'e', 'x']

In [43]:
# El metodo sort ordena los elementos en el lugar. Por lo que no lo debes igualar a otra variabble, el metodo retorna NoneType
my_sorted_list = new_list.sort()

In [44]:
type(my_sorted_list)

NoneType

In [46]:
my_sorted_list

In [47]:
new_list.sort()
my_sorted_list = new_list

In [48]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [49]:
num_list.sort()

In [50]:
num_list

[1, 3, 4, 8]

In [51]:
num_list.reverse()

In [53]:
num_list

[8, 4, 3, 1]

In [55]:
num_list[::-1]

[1, 3, 4, 8]